<p>Reactive Form validate</p>
<div class="container">
  <!-- (ngSubmit)="getData()" -->
  <form [formGroup]="loginPage">
    <input
      type="text"
      formControlName="username"
      placeholder="Enter your name"
      name="username"
    />
    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
      <div *ngIf="f.name.errors.required">Name is required</div>
    </div>
    <br /><br />
    <input
      type="password"
      formControlName="password"
      placeholder="Enter you password"
      name="password"
    />
    <br /><br />
    <button (click)="clicksub()" type="button" class="btn btn-primary">
      Send message
    </button>
  </form>
</div>
