input {
  padding: 5px 20px;
  border-radius: 1px;
  border: 1px solid rgb(221, 216, 216);
}
input.ng-invalid {
  border-left: 5px solid rgb(219, 12, 12);
}
input.ng-valid {
  border-left: 5px solid rgb(43, 255, 0);
}
